* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 240, 243);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 400px;
  width: 400px;
  background: url("./resources/hero-image-1.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 210px;
  border-radius: 10px;
}

.overlay {
  background: url("./resources/white-overlay.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 150px;
}

.card-text {
  padding: 10px;
}

.card-text h1 {
  margin-bottom: 10px;
}

.card-text p {
  color: gray;
  margin-bottom: 10px;
}

.author img {
  margin-right: 10px;
  height: 30px;
  border-radius: 50px;
  float: left;
}

.author p {
  margin-top: 1px;
}
